@import url("https://rsms.me/inter/inter.css");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: #f5f5f5;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: black;
}

.container {
  display: grid;
  grid-template-columns: 15% 17% 17% 17% 17% 17%;
  grid-template-rows: 10% 10% 40% 10% 15% 30%;
}

.item {
  color: black;
  font-size: 20px;
  padding: 1%;
  /* border-bottom: purple 1px solid; */
}

.hiddenLi {
  opacity: 0%;
}

/* NAVBAR */
.item:nth-of-type(1) {
  grid-column-start: 1;
  grid-column-end: -1;
  color: black;
  text-align: center;
  background-color: white;
  border-bottom: gray 1px solid;
}

/* SIDEBAR */
.item:nth-of-type(2) {
  grid-row-start: 2;
  grid-row-end: 10;
  color: black;
  text-align: center;
  height: 100%;
  background-color: white;
  border-right: gray 1px solid;
}

.sidebar {
  margin-top: 10%;
  text-align: center;
  background-color: white;
}

.sidebar ul {
  background-color: white;
  list-style: none;
  line-height: 60px;
}

.sidebar li {
  background-color: white;
  font-size: 16px;
  margin-left: 40%;
  text-align: left;
}

.sidebar a {
  background-color: white;
  text-decoration: none;
  color: #454545;
}

.sidebar h4 {
  background-color: white;
  font-size: 20px;
}

.bottomButtons {
  background-color: white;
}
/* DASHBOARD WELCOME */
.item:nth-of-type(3) {
  grid-column-start: 2;
  grid-column-end: -1;
  color: black;
  text-align: left;
}

.item:nth-of-type(4) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item:nth-of-type(5) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item:nth-of-type(6) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item:nth-of-type(7) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item:nth-of-type(8) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item:nth-of-type(10) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item:nth-of-type(11) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item:nth-of-type(12) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item:nth-of-type(13) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item:nth-of-type(14) {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* RECENT TASKS */
.item:nth-of-type(9) {
  grid-column-start: 2;
  grid-column-end: -1;
  color: black;
  text-align: left;
}

/* OVERALL RECAP */
.item:nth-of-type(15) {
  grid-column-start: 2;
  grid-column-end: -1;
  color: black;
  text-align: left;
}

.welcome h3 {
  line-height: 30px;
  font-size: 36px;
  text-align: left;
}

.welcome {
  line-height: 30px;
  font-size: 20px;
  text-align: left;
  margin-left: 1%;
}

.recenttickets b {
  font-size: 26px;
  line-height: 40px;
  background-color: white;
}

.recenttickets h4 {
  font-size: 26px;
  line-height: 40px;
  margin-left: 1%;
}

.navbar {
  color: black;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.navbar h3 {
  margin-left: 3%;
  font-size: 26px;
  background-color: white;
  font-weight: bolder;
}

.navbar ul {
  display: flex;
  list-style: none;
  align-items: center;
  background-color: white;
}

.navbar li {
  margin-right: 2rem;
  display: flex;
  font-size: 15px;
  background-color: white;
}

.navbar a {
  text-decoration: none;
  color: black;
  background-color: white;
}

.navbar li:last-child {
  margin-right: 67px;
  display: flex;
}

.overallrecap h4 {
  font-size: 26px;
  line-height: 40px;
  margin-bottom: 1%;
}
.overallrecap {
  font-size: 20px;
  line-height: 23px;
  width: 60%;
  margin-left: 1%;
}

.card {
  width: 80%;
  height: 100%;
  background-color: white;
  border-radius: 30px;
  text-align: center;
  filter: drop-shadow(1px 2px 5px #0000004b);
}

.image {
  border-radius: 30px;
}

.card button {
  margin-top: 7%;
  background-color: #9bb6ee;
  border: none;
  width: 35%;
  height: 8%;
  border-radius: 15px;
}
.card img {
  margin-top: 5%;
  text-align: center;
  background-color: white;
  margin-bottom: -3%;
}

.card p {
  background-color: white;
  text-align: center;
  font-size: 15px;
}

.card h5 {
  background-color: white;
  text-align: center;
  margin-top: 0;
  margin-bottom: 2%;
}

.card b {
  background-color: white;
  text-align: center;
  font-size: 15px;
}

.duedate {
  margin-top: 8%;
}

.image {
  background-color: white;
  text-align: center;
}

.assignedticket {
  width: 80%;
  height: 65%;
  background-color: white;
  border-radius: 30px;
  text-align: center;
  filter: drop-shadow(1px 2px 5px #0000004b);
  margin-top: -5%;
}

.assignedticket h5 {
  margin-top: 5%;
  background-color: white;
  border-radius: 30px;
}

.assignedticket p {
  background-color: white;
  font-size: 15px;
  border-radius: 30px;
  text-align: left;
  margin-left: 22%;
  line-height: 12px;
}
