* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;

}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: black;
  background: whitesmoke;
}

.container {
  display: grid;
  grid-template-columns: 15% 17% 17% 17% 17% 17%;
  grid-template-rows: 15% 20% 65% 15% 25% 30%;
}

.item {
  background: steelblue;
  color: white;
  font-size: 20px;
  padding: 20px;
  border: skyblue 2px solid;
}

/* NAVBAR */
.item:nth-of-type(1) {
  background: white;
  grid-column-start: 1;
  grid-column-end: -1;
  color: black;
  text-align: center;
}

/* SIDEBAR */
.item:nth-of-type(2) {
  background: orange;
  grid-row-start: 2;
  grid-row-end: 10;
  color: black;
  text-align: center;
  height: 100%;
}

/* DASHBOARD WELCOME */
.item:nth-of-type(3) {
  background: purple;
  grid-column-start: 2;
  grid-column-end: -1;
  color: black;
  text-align: center;
}

/* RECENT TASKS */
.item:nth-of-type(9) {
  background: pink;
  grid-column-start: 2;
  grid-column-end: -1;
  color: black;
  text-align: center;
}

/* OVERALL RECAP */
.item:nth-of-type(15) {
  background: cyan;
  grid-column-start: 2;
  grid-column-end: -1;
  color: black;
  text-align: center;
}

.welcome p{
  margin: -1%;
  font-size: 20px;
}

.navbar {
  color: black;
  display: flex;
  justify-content: space-between;

}

.navbar h3 {
  margin-left: 3%;
  font-size: 26px;
}

.navbar ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  margin-right: 2rem;
  display: flex;
  font-size: 15px;
}

.navbar a {
  text-decoration: none;
  color: black;
}



.navbar li:last-child {
  margin-right: 67px;
  display: flex;
}

.overallrecap p{
  
  font-size: 20px;
  line-height: 20px;
}